#ChatRoom {
    background-color: whitesmoke;
}

#ChatRoom h3 {
    color: green;
}

#ChatRoom h4 {
    color: green;
}

#ChatRoom hr {
  border-top-color: darkcyan;
}

#DisplayArea {
    height: 500px;
    border: 1px solid;
    border-color: darkcyan;
    overflow: auto;
}

#DisplayArea .form-group {
    width: 92% !important;
}

#DisplayArea .form-group .form-control {
    width: 100% !important;
    border: 1px solid darkcyan;
}

#DisplayArea .form-inline .btn.btn-success {
    border-color: darkcyan;
}