body {
    background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2016/03/02/903508/big_thumb_beea90145feed79452063142a7137050.jpg");

}

h2{
    color:white;
    font-size:20px;
    line-height: 0px;
}
h3{
    color:white;
    font-family: "Arial Black";
    font-size: 25px;
    line-height: 0px;

}
h4{
    color:white;
    font-family: "Arial Black";
    font-size: 20px;
    line-height: 0px;

}
.profilebox {
    border-radius: 4px;
    background-color: rgba(52,73,94,0.7);
    margin-left: 300px;
    margin-right: 300px;
    margin-top: -10px;
    height:30%;
    padding-right: 200px !important;
    padding-left: 200px !important;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
.coursesbox {
    border-radius: 4px;
    background-color: rgba(52,73,94,0.7);
    margin-left: 90px;
    margin-right: 720px;
    margin-top: 20px;
    height:50%;
    padding-right: 150px !important;
    padding-left: 150px !important;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
.friendsbox{
    border-radius: 4px;
    background-color: rgba(52,73,94,0.7);
    margin-left: 720px;
    margin-right: 90px;
    margin-top: -332px;
    height:50%;
    padding-right: 200px !important;
    padding-left: 200px !important;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
#bodyDiv {
    margin-top:0px;
    margin-bottom:0px;
    margin-left:45px;
    margin-right:0px;
}
#scrollbox3 {
    overflow: auto;
    width: 500px;
    height: 270px;
    margin-top: 25px;
    margin-left:-170px;
    padding: 0 5px;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
}
#scrollbox4 {
    overflow: auto;
    width: 500px;
    height: 270px;
    margin-top: 25px;
    margin-left:-215px;
    padding: 0 5px;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    background-color: #efefef;
    text-align: center;
}