body {
    background-image: url("../img/Background [Profile].jpeg");
}

.container {
    text-align: center;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

h5 {
    color: white;
}

a {
    color: white;
}

#last_a {
    margin-bottom: -20px !important;
}

.jumbotron {
    background-color: rgba(52, 73, 94, 0.7);
    margin-left: -40px;
    margin-right: -40px;
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-bottom: 10px;
    padding-top: 10px;
}

.jumbotron h4 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.editbox {
    border-radius: 4px;
    background-color: rgba(52, 73, 94, 0.7);
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 60px;
    height: 70%;
    padding-right: 200px !important;
    padding-left: 200px !important;
    padding-bottom: 10px;
    padding-top: 80px;
    text-align: center;
}

#scrollbox {
    overflow: auto;
    height: 270px;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
}