body {
    background-image: url("../../includes/img/Background.jpeg");
}

.navbar {
    border-radius: 0px;
}

h1 {
    color: white;
}

.jumbotron {
    background-color: rgba(52,73,94,0.7);
    margin-left: -40px;
    margin-right: -40px;
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-bottom: 10px;
    padding-top: 10px;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    background-color: #efefef;
    text-align: center;
}
